# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore Hardhat cache and artifacts
cache/
artifacts/

# Ignore Hardhat deployments
deployments/

# Ignore coverage reports
coverage/
coverage.json

# Ignore gas report files
gas-report.txt

# Ignore debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE settings (optional, depending on your IDE)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore Yarn lock file (optional, if using Yarn)
yarn.lock

# Ignore Prettier config
.prettierignore

# Ignore Solidity config file
.solhint.json